<sidebar id="sidebar">
    <div class="Avatar">
        <img src="~/img/Users/Bielec.jpg" />
    </div>
    <div class="Information">
        <span>@Model.LoggedUser.Name @Model.LoggedUser.Surname</span>
    </div>
    <nav class="Navigation">
        <ul>
            <li>
                <a asp-area="Admin"
                   asp-page="Account">Konto</a>
            </li>
            @if (@Model.isAdministrator)
            {
            <li><a asp-area="Admin"
                   asp-page="CreateUser">Dodaj użytkownika</a></li>
            }
            <li><a asp-area="Admin"
                   asp-page="Users">Zarządzaj użytkownikami</a></li>
            <li><a href="#">Zarządzaj blogiem</a></li>
        </ul>
        <form class="Logout"
              asp-area="Admin"
              asp-page="/Logout"
              method="post">
            <button type="submit">Wyloguj się</button>
        </form>
    </nav>
</sidebar>