@page
@model AccountModel
@{
    ViewData["Title"] = "Konto";
}
<div class="Account">
    <sidebar id="sidebar">
        <div class="Avatar">
            <img src="~/img/Users/Bielec.jpg" />
        </div>
        <div class="Information">
            <span>@Model.UserName  @Model.UserSurname</span>
        </div>
        <nav class="Navigation">
            <ul>
                <li><a asp-area="Admin"
                       asp-page="Account">Konto</a></li>
                <li><a href="#">Dodaj użytkownika</a></li>
                <li><a href="#">Zarządzaj blogiem</a></li>
            </ul>
            <form class="Logout" 
                  asp-area="Admin"
                  asp-page="/Logout"
                  method="post">
                <button type="submit">Wyloguj się</button>
            </form>
        </nav>
    </sidebar>
    <main>
        <h1>Witaj @Model.UserName</h1>
        <hr />
        <h2>Edytuj swoje dane</h2>
        <form method="post">
            <div asp-validation-summary="All" class="Danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewName"></label> 
                <input asp-for="Input.NewName" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewSurname"></label> 
                <input asp-for="Input.NewSurname" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewBirthDate"></label>
                <input asp-for="Input.NewBirthDate" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Aktualizuj!</button>
            </div>
        </form>
    </main>
</div>
