@page
@model AccountModel
@{
    ViewData["Title"] = "Konto";
}
<div class="Account container">
    <partial name="~/Areas/Admin/Pages/_Sidebar.cshtml" />
    <main>
        <h1 class="display-1">Witaj @Model.UserName</h1>
        <hr />
        <div class="UserData ml-3 w-50 ml-auto mr-auto">
            <h2 class="display-4 text-center mb-5 text-muted">Edytuj swoje dane</h2>
            <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NewName"></label> 
                <input class="form-control"
                       asp-for="Input.NewName" />
                <span asp-validation-for="Input.NewName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewSurname"></label> 
                <input class="form-control"
                       asp-for="Input.NewSurname" />
                <span asp-validation-for="Input.NewSurname" />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewBirthDate"></label>
                <input class="form-control"
                       asp-for="Input.NewBirthDate" />
                <span asp-validation-for="Input.NewBirthDate"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary d-block btn-lg ml-auto mr-auto">Aktualizuj!</button>
            </div>
        </form>
        </div>
        <div class="UserRoles">

        </div>
    </main>
</div>
