@page
@model Blog.Areas.Admin.Pages.CreateUserModel
@{
    ViewData["Title"] = "Stwórz użytkownika";
}
<div class="CreateUser">
    <partial name="~/Areas/Admin/Pages/_Sidebar.cshtml" />
    <main class="container">
        <h3 class="display-3 text-center pb-2">Stwórz nowego użytkownika!</h3>
        <hr />
        <form method="post" class="mt-3">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.Name" class="text-muted"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.Surname" class="text-muted"></label>
                    <input asp-for="Input.Surname" class="form-control" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserName" class="text-muted"></label>
                <input asp-for="Input.UserName" class="form-control" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.Email" class="text-muted"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.Password" class="text-muted"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.MobilePhone" class="text-muted"></label>
                    <input asp-for="Input.MobilePhone" class="form-control" />
                    <span asp-validation-for="Input.MobilePhone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.ConfirmPassword" class="text-muted"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.BirthDate" class="text-muted"></label>
                <input asp-for="Input.BirthDate" class="form-control" />
                <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary d-block ml-auto mr-auto">Stwórz użytkownika!</button>
            </div>
        </form>
    </main>
</div>