@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Dashboard">
    <sidebar id="sidebar">
        <div class="Avatar">
            <img src="~/img/Users/Bielec.jpg" />
        </div>
        <div class="Information">
            <span>@Model.UserName  @Model.UserSurname</span>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="#">Konto</a></li>
                <li><a href="#">Dodaj użytkownika</a></li>
                <li><a href="#">Zarządzaj blogiem</a></li>
            </ul>
        </nav>
    </sidebar>
    <main>
        <h1>Witaj </h1>
        <hr />

        <form method="post">
            <div asp-validation-summary="All" class="Danger"></div>
            Imię: <input asp-for="Input.NewName" />
            Nazwisko: <input asp-for="Input.NewSurname" />
            <button type="submit">Aktualizuj!</button>
        </form>
    </main>
</div>
